<configuration>
    <generic_files>..\..\..\code\setupFiles\Purzel</generic_files>
    <time_range>0 2</time_range>
    <model_file>..\..\..\models\Purzel\Purzel.osim</model_file>
    <inputs>
        <path>.\</path>
        <c3d>.\c3dfile.c3d</c3d>
        <markers>.\marker_experimental.trc</markers>
        <grf>.\grf.mot</grf>
        <emg_mot>.\filtered_emg.mot</emg_mot>
    </inputs>
    <setups>
        <grf>.\grf.xml</grf>
        <ik>.\setup_ik.xml</ik>
        <id>.\setup_id.xml</id>
        <ma>.\setup_ma.xml</ma>
        <so_actuators>.\actuators_so.xml</so_actuators>
        <so>.\setup_so.xml</so>
        <excitationGenerator>.\setup_excitationGenerator.xml</excitationGenerator>
        <ceinms_cal>.\setup_ceinms_cal.xml</ceinms_cal>
        <ceinms_cal_cfg>.\ceinms_calibration_cfg.xml</ceinms_cal_cfg>
        <ceinms_optimse>.\setup_ceinms_optimse.xml</ceinms_optimse>
        <ceinms_optimise_cfg>.\ceinms_optimise_cfg.xml</ceinms_optimise_cfg>
    </setups>
    <outputs>
        <ik>.\joint_angles.mot</ik>
        <id>.\joint_moments.sto</id>
        <ma>.\muscleAnalysis</ma>
        <so_forces>.\muscle_forces_so.sto</so_forces>
    </outputs> 
    
    <ceinms_calibration>
        <subjectFile>subjectUncalibrated.xml</subjectFile>
        <excitationGeneratorFile>excitationGenerator.xml</excitationGeneratorFile>
        <calibrationFile>calibrationCfg_ceinms-nn_hybrid.xml</calibrationFile>
        <outputSubjectFile>subjectCalibrated_hybrid.xml</outputSubjectFile>
        <outputDirectory>.\calibration_hybrid</outputDirectory>
        <trial_list>runA1 </trial_list>
    </ceinms_calibration>
</configuration>